/*
 * Hello there!
 *
 * This site has been put together with plain HTML and CSS to allow
 * anyone in the studio to edit it with the minimum of fuss.
 *
 * If you are interested in our code, take a look at:
 * https://github.com/studio-awkward/getawkward.co.uk
 */

/* * * * * * * *
 * Definitions
 *
 * Colours
 * - Grey - light: #fafaf8
 * - Grey - mid: #999;
 * - Grey - dark: #666;
 * - Red: #ee3040
 * - Pink: #f792bc
 * - Orange: #f58200
 * - Yellow: #fac90d
 * - Green: #0e8642
 * - Blue - light: #1f5ba8
 * - Blue - dark: #58c4ea
 *
 * Dimensions
 * - Narrow: 40em
 * - Wide: 60em
 * - Max-width: 80em
 *
 * Font-sizes
 * - h1: 2.4rem / 3.6rem
 * - h2: 1.8rem / 2.4rem
 * - h3: 1.125rem (18px)
 * - p: 0.875rem (14px)
 *
 * Font weights
 * - Heading: 700
 * - Body: 400
 * - Special: 300
 *
 * Gutters
 * - Small: 0.5rem
 * - Normal: 1rem
 * - Large: 2rem
 *
 * Transition time
 * - 0.25s
 *
 * * * * * * * */

/* * * * * * * *
 * HTML elements
 * * * * * * * */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
 }

img,
object {
  max-width: 100%;
  vertical-align: bottom;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

/* * * * * * * *
 * Components
 * * * * * * * */

/* Hero */

.Hero {
  align-items: center;
  animation: Hero-bg 15s linear infinite alternate both;
  background: #ee3040;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
}
@media (min-width: 40em) {
  .Hero {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
}

@keyframes Hero-bg {
  0%   { background: #ee3040; }
  20%  { background: #f792bc; }
  40%  { background: #f58200; }
  60%  { background: #fac90d; }
  80%  { background: #0e8642; }
  100% { background: #58c4ea; }
}

.Hero-body {
  background: url(../images/awkward-logo-white.svg) transparent no-repeat center top;
  background-size: 190px 160px;
  color: #fff;
  padding-top: 180px;
  transform: rotate(1.5deg);
}

@media (min-width: 40em) {
  .Hero-body {
    background-position: left top;
    min-height: 190px;
    padding-left: 210px;
    padding-top: 0;
  }
}

.Hero-ticker {
  padding-left: 3px;
  position: relative;
}

.Hero-tickerWord {
  min-width: 160px;
  opacity: 0;
  position: absolute;
}

@media (min-width: 40em) {
  .Hero-tickerWord {
    min-width: 250px;
  }
}

.Hero-tickerLetter {
  display: inline-block;
  float: left;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.Hero-tickerLetter.is-out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Hero-tickerLetter.is-behind {
  transform: rotateX(-90deg);
}

.Hero-tickerLetter.is-in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Intro */

.Intro {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 7rem;
  position: relative;
}

@media (min-width: 40em) {
  .Intro {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
}

.Intro-body {
  max-width: 80%;
}

@media (min-width: 40em) {
  .Intro-body {
    max-width: 60%;
  }
}

@media (min-width: 60em) {
  .Intro-body {
    max-width: 50%;
  }
}

@media (min-width: 80em) {
  .Intro-body {
    max-width: 30%;
  }
}

.Intro-body p:nth-child(1) {
  transform: rotate(-1.5deg);
}

.Intro-body p:nth-child(2) {
  transform: rotate(1deg);
}

/* Team */

.Team {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 7rem;
  position: relative;
}

@media (min-width: 40em) {
  .Team {
    padding-bottom: 5rem;
    padding-top: 10rem;
  }
}

.Team-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Team-members {
  display: flex;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 40em) {
  .Team-members {
    flex-wrap: wrap;
    overflow-x: visible;
  }
}

@media (min-width: 60em) {
  .Team-members {
    padding: 0 1rem;
    position: static;
    width: 66.6%;
  }
}

.Team-member {
  flex: 1 0 66.6%;
}

@media (min-width: 40em) {
  .Team-member {
    flex-basis: 33.3%;
    flex-grow: initial;
  }
}

@media (min-width: 60em) {
  .Team-member {
    flex: 1 0 25%;
  }
}

.TeamMember {}

.TeamMember-images {
  position: relative;
}

.TeamMember-images::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.TeamMember-photo {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.TeamMember-portrait {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s;
  width: 100%;
}

.TeamMember.is-active .TeamMember-portrait {
  opacity: 1;
}

.TeamMember-detail {
  padding: 1rem;
}

@media (min-width: 60em) {
  .TeamMember-detail {
    align-items: flex-end;
    background-color: #fafaf8;
    bottom: 0;
    display: flex;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 0;
    transition: opacity 0.25s, visibility 0.25s;
    visibility: hidden;
    width: 33.3%;
  }

  .TeamMember.is-active .TeamMember-detail {
    opacity: 1;
    visibility: visible;
  }

  .TeamMember-detail::after {
    background: #1f5ba8;
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    z-index: 2;
  }

  .TeamMember-bio {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    padding-left: 20px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
  }

  .TeamMember-bio::before {
    background: #fff;
    content: "";
    display: block;
    height: 500px;
    position: absolute;
    right: 80px;
    top: -500px;
    width: 80px;
    z-index: 2;
  }

  .TeamMember-bio::after {
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    width: 80px;
  }

  .TeamMember--ed .TeamMember-bio,
  .TeamMember--becky .TeamMember-bio { background-image: url(../images/companies/optimistic-fox.png); }
  .TeamMember--fran .TeamMember-bio,
  .TeamMember--ruth .TeamMember-bio,
  .TeamMember--sam .TeamMember-bio  { background-image: url(../images/companies/osomi.png); }
  .TeamMember--mat .TeamMember-bio  { background-image: url(../images/companies/mk.png); }
  .TeamMember--paul .TeamMember-bio { background-image: url(../images/companies/pf.png); }
  .TeamMember--pete .TeamMember-bio { background-image: url(../images/companies/pg.png); }
  .TeamMember--natalie .TeamMember-bio { background-image: url(../images/companies/nh.png); }
  .TeamMember--james .TeamMember-bio { background-image: url(../images/companies/jc.png); }

  .TeamMember--ed .TeamMember-bio::after,
  .TeamMember--becky .TeamMember-bio::after { background-color: #f05136; }
  .TeamMember--fran .TeamMember-bio::after,
  .TeamMember--ruth .TeamMember-bio::after,
  .TeamMember--sam .TeamMember-bio::after  { background-color: #e8bb00; }
  .TeamMember--mat .TeamMember-bio::after  { background-color: #000; }
  .TeamMember--paul .TeamMember-bio::after { background-color: #818285; }
  .TeamMember--pete .TeamMember-bio::after { background-color: #f90; }
  .TeamMember--natalie .TeamMember-bio::after { background-color: #fff; }
  .TeamMember--james .TeamMember-bio::after { background-color: #000; }
}

.Team-quote {
  display: none;
}

@media (min-width: 60em) {
  .Team-quote {
    background: #f90;
    color: #fff;
    flex: 1 0 25%;
    font-family: 'Playfair Display', serif;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    padding: 1rem;
    position: relative;
  }

  .Team-quote.is-visible {
    display: block;
  }

  .Team-quote::before {
    background: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 2;
  }

  .Team-quote:hover::before {
    opacity: 0;
  }
}

/* Companies */

.Companies {
  align-items: center;
  background: #fafaf8;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 7rem;
  position: relative;
}

@media (min-width: 40em) {
  .Companies {
    padding-bottom: 3rem;
    padding-top: 8rem;
  }
}

.Companies-body {
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (min-width: 40em) {
  .Companies-body {
    overflow: visible;
  }
}

.Companies-items {
  display: flex;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 40em) {
  .Companies-items {
    flex-wrap: wrap;
    overflow-x: visible;
  }
}

@media (min-width: 60em) {
  .Companies-items {
    align-items: center;
    flex-wrap: nowrap;
  }
}

.Companies-item {
  flex: 1 0 66.6%;
}

.Companies-itemDouble {
  display: flex;
  flex: 1 0 133.2%;
}

.Companies-itemDouble .Companies-item {
  flex-basis: 50%;
}

@media (min-width: 40em) {
  .Companies-item {
    flex-basis: 33.3%;
    flex-grow: initial;
  }

  .Companies-itemDouble {
    flex-basis: 66.6%;
  }
}

@media (min-width: 60em) {
  .Companies-item,
  .Companies-itemDouble {
    flex-basis: 20%;
  }

  .Companies-itemDouble {
    flex-direction: column;
  }
}

@media (min-width: 60em) {
  .Company {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .Companies-item:nth-child(odd) .Company {
    flex-direction: column-reverse;
  }

  .Companies-item:nth-child(3) .Company {
    flex-direction: column;
  }

  .Company--osomi { margin-top: -250px;}
  .Company--jc { margin-top: -150px;}
}

.Company-detail {
  padding: 1rem;
}

.Company-link {
  color: #ee3040;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s;
}

.Company-link:hover {
  color: #f792bc;
  text-decoration: underline;
}

/* Projects */

.Projects {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 7rem;
  position: relative;
}

@media (min-width: 40em) {
  .Projects {
    padding-top: 10rem;
  }
}

.Projects-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Projects-showcase {
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-align: center;
}

.Projects-showcaseVisual {
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .Projects-showcaseVisual {
    display: inline-block;
    vertical-align: middle;
  }
}

.Projects-showcaseImage {
  border-radius: 50%;
  height: 300px;
  overflow: hidden;
  width: 300px;
}

.Projects-showcaseDetail {
  text-align: left;
}

@media (min-width: 40em) {
  .Projects-showcaseDetail {
    display: inline-block;
    max-width: 50%;
    padding: 2rem;
    vertical-align: middle;
  }
}

@media (min-width: 40em) {
  .Projects-items {
    display: flex;
  }
}

.Projects-item {
  padding: 1rem;
}

@media (min-width: 40em) {
  .Projects-item {
    flex: 1 0 33.3%;
  }

  .Projects-item:nth-child(1) {
    padding-left: 20px;
    position: relative;
  }

  .Projects-item:nth-child(1)::before {
    background: #0e8642;
    content: "";
    height: 70px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 10px;
  }

  .Projects-item:nth-child(2) {
    margin-top: 1rem;
    padding-top: 20px;
    position: relative;
  }

  .Projects-item:nth-child(2)::before {
    background: #58c4ea;
    content: "";
    height: 10px;
    left: 1rem;
    position: absolute;
    top: 0;
    width: 70px;
  }

  .Projects-item:nth-child(3) {
    margin-top: -1rem;
    padding-right: 20px;
    position: relative;
  }

  .Projects-item:nth-child(3)::before {
    background: #1f5ba8;
    bottom: 4rem;
    content: "";
    height: 70px;
    right: 0;
    position: absolute;
    width: 10px;
  }
}

.Projects-link {
  color: #ee3040;
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 1rem 0;
  padding-left: 40px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s;
}

.Projects-link:hover {
  color: #f792bc;
  text-decoration: underline;
}

.Projects-link::before {
  background: #fac90d;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 5px;
  transition: all 0.25s;
  width: 30px;
}

.Projects-link:hover::before {
  background: #58c4ea;
  left: 3px;
}

/* Gallery */

.Gallery {
  background: #fafaf8;
  display: none;
}

@media (min-width: 40em) {
  .Gallery {
    display: block;
    max-height: 800px;
    overflow: hidden;
    position: relative;
  }

  .Gallery::before {
    content: "";
    display: block;
    padding-bottom: 62.5%;
  }

  .Gallery-item {
    animation: Gallery-left 25s linear infinite;
    position: absolute;
  }

  .Gallery-item--001 { background: #ee3040; top:  0%; width: 25%; animation-duration: 45s; animation-delay: -10s; }
  .Gallery-item--002 { background: #fac90d; top:  5%; width: 20%; animation-duration: 37s; animation-delay: -20s; }
  .Gallery-item--003 { background: #f58200; top: 15%; width: 20%; animation-duration: 50s; animation-delay: -30s; }
  .Gallery-item--004 { background: #0e8642; top: 25%; width: 25%; animation-duration: 33s; animation-delay: -10s; }
  .Gallery-item--005 { background: #1f5ba8; top: 35%; width: 20%; animation-duration: 41s; animation-delay: -20s; }
  .Gallery-item--006 { background: #58c4ea; top: 45%; width: 20%; animation-duration: 47s; animation-delay: -30s; }
  .Gallery-item--007 { background: #f792bc; top: 55%; width: 30%; animation-duration: 42s; animation-delay: -10s; }
  .Gallery-item--008 { background: #ee3040; top: 65%; width: 25%; animation-duration: 35s; animation-delay: -20s; }
  .Gallery-item--009 { background: #fac90d; top: 75%; width: 20%; animation-duration: 42s; animation-delay: -30s; }
  .Gallery-item--010 { background: #f58200; top: 85%; width: 20%; animation-duration: 56s; animation-delay: -20s; }

  .Gallery-image {
    filter: contrast(200%);
    mix-blend-mode: screen;
  }
}

@keyframes Gallery-left {
  from { left: -50%; }
  to   { left: 100%; }
}

/* Contact */

.Contact {
  align-items: center;
  background: #e7e7e8;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
}

@media (min-width: 40em) {
  .Contact {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

.Contact-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.Contact-details {
  background: url(../images/awkward-logo-red.svg) transparent no-repeat center top;
  background-size: 190px 160px;
  margin-bottom: 2rem;
  min-width: 190px;
  padding-top: 180px;
}

@media (min-width: 40em) {
  .Contact-details {
    display: inline-block;
    margin-right: 3rem;
    text-align: left;
    vertical-align: middle;
  }
}

.Contact-email {
  color: #ee3040;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.Contact-email:hover {
  text-decoration: underline;
}

.Contact-address {
  font-style: normal;
  text-transform: uppercase;
}

.Contact-form {
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

@media (min-width: 40em) {
  .Contact-form {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
  }
}

@media (min-width: 80em) {
  .Contact-form {
    width: 30%;
  }
}

.Contact-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.Contact-legend {
  font-size: 2.4rem;
  font-weight: 700;
  left: -1rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  position: relative;
}

@media (min-width: 40em) {
  .Contact-legend {
    font-size: 3.6rem;
  }
}

.Contact-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.Contact-input,
.Contact-textarea {
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.Contact-input:focus,
.Contact-textarea:focus {
  outline: none;
}

.Contact-input::-webkit-input-placeholder { color: #ddd; }
.Contact-input::-moz-placeholder { color: #ddd; }
.Contact-input::placeholder { color: #ddd; }
.Contact-textarea::-webkit-input-placeholder { color: #ddd; }
.Contact-textarea::-moz-placeholder { color: #ddd; }
.Contact-textarea::placeholder { color: #ddd; }

.Contact-input--name { background: #ee3040; }
.Contact-input--email { background: #f58200; left: 35px; }
.Contact-input--phone { background: #0e8642; left: -15px; }
.Contact-textarea { background: #1f5ba8; left: 25px; }

.Contact-submit {
  background: none;
  border: 0;
  color: #ee3040;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 40px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.25s;
  -webkit-appearance: none;
}

.Contact-submit:hover,
.Contact-submit:focus {
  color: #f792bc;
  outline: none;
}

.Contact-submit::before {
  background: #fac90d;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 5px;
  transition: all 0.25s;
  width: 30px;
}

.Contact-submit:focus::before,
.Contact-submit:hover::before {
  background: #58c4ea;
  left: 3px;
}

.Contact-states {
  position: absolute;
  right: 0;
  top: 0;
}

.Contact-state {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden;
}

.Contact-state.is-active {
  opacity: 1;
  visibility: visible;
}

.Contact-state--success {
  color: #0e8642;
}

.Contact-state--error {
  color: #ee3040;
}

.Contact-state--loading {
  animation: Contact-state--loading 2s linear infinite;
  color: #000;
}

@keyframes Contact-state--loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Footer */

.Footer {
  background: #666;
  color: #999;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: right;
}

.Footer-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

/* Flourish */

.Flourish {
  height: 50px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 3rem;
  width: 100px;
}

.Flourish-block {
  position: absolute;
  z-index: 1;
}

/* Editorial */

.Editorial {}

.Editorial h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.1em 0 0 0;
}

@media (min-width: 40em) {
  .Editorial h1 {
    font-size: 3.6rem;
  }
}

.Editorial h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  margin: 1rem 0;
  max-width: 8em;
}

@media (min-width: 40em) {
  .Editorial h2 {
    font-size: 2.4rem;
  }
}

.Editorial h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.Editorial h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.Editorial blockquote {
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 2rem 0;
  padding-left: 1.5rem;
  position: relative;
}

.Editorial blockquote::before {
  background: #1f5ba8;
  bottom: 15px;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 2;
}

.Editorial blockquote::after {
  background: #f792bc;
  bottom: 0;
  content: "";
  left: 7px;
  position: absolute;
  top: 15px;
  width: 6px;
  z-index: 1;
}

.Editorial p {
  font-size: 0.875rem; /* 14/16 */
  margin: 1rem 0;
}

.Editorial p:first-child {
  font-size: 1rem;
  font-weight: 400;
}

/* utility classes */

.u-BackgroundFlourish {
  position: relative;
}

.u-BackgroundFlourish::before,
.u-BackgroundFlourish::after {
  content: "";
  position: absolute;
  z-index: 1;
}
